	.region-two-brick-left-above
	{
		width: 100% !important;
		display: inline;
	}
  ul.menu li a
 {
 	 display: block;
 	 color: white;
 	 text-decoration: none;
 	 padding: 3px 10px 3px 10px;
 	 border-bottom: 1px solid white;
 }
 ul.menu li
 { 
 	 background-color: #1E346D;
 	 list-style: none;
 }
 ul.menu li:hover
 {
 	  background-color: #3F589A
 }
 ul.menu,.block-content
 {
 	 margin: 0px !important;
 	 padding: 0px !important;
 }
 .menu-wrapper
 {
 	 margin: 0px;
 	 padding: 0px;
 }
 .view-gallery
 {
 	 clear: both;
 	 float: none;
 	 display: table;
 	 margin-right: auto !important;
 	 margin-left: auto !important;
 	 width: 300px;
 }
  #menu-bar
 {
 	 clear: both;
 	 float: none;
 	 display: table;
 	 margin-right: auto !important;
 	 margin-left: auto !important;
 	 margin-bottom: -100px;
 	 width: 201px;
 }
  html
 {
 	 background: none !important;
 	 width: 100%;
 	 font-size: 15px;
 }
  #mission-paragraph h2 /*Center Mission Statement Title */
 {
 	 text-align: center;
 }
.view-people .views-field
 {
 	 max-width: 20px;
 }
 .section-outreach .views-field
 {
 	 max-width: 20px;
 }
  #content
 {
 	 max-width: 300px;
 }
  /******** Research Nodes *******/
 
 #research_image_field
 {
 	 display: block;
 	 margin-right: auto;
 	 margin-left: auto;
 	 margin-bottom: 15px;
 }
 /******** People Nodes *******/
   #people_image,#people_position
 {
 	 margin-right: auto;
 	 margin-left: auto;
 	 display: block;
 	 text-align: center;
 }
